<!DOCTYPE html>

<head>

    <title>Egyptian movies Genres</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        li {
            padding-left: 2%;
            margin-left: 5%;
        }
    </style>
</head>

<body>
    <h1 style="text-align:center"> Egyptian movies Genres </h1> <br />
    <ul>
        {% for item in data %}
        <li> <a href="./genres/{{item.Genre}}">{{item.Genre}}</a></li>
        {% endfor %}
    </ul>

</body>